export(farm)
export(gather)
export(get.seed)
export(GetOrSetSeed)
export(graft)
export(harvest)
export(noattr)
export(plant)
export(reap)
export(replace.seed)
export(sprout)
export(use_method)
export(withseed)
importFrom(digest,digest)
importFrom(parallel,nextRNGStream)
importFrom(parallel,nextRNGSubStream)
importFrom(plyr,llply)
importFrom(plyr,mlply)
